*,
*::before,
*::after {
  box-sizing: border-box;
}

h1{
    text-align: center;
}

/* this is not working. I want the item to be at the center of the page. */
body{
    background-color: green;
    margin: 0;
}
/* This centers but not vertically */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 50%;
    width: 50%;
    margin: auto;


    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue; */
    
}


#person1-container{
   /* margin: auto; */
}

/* this works */
#person1-container{
    background-color: purple;
}

#person1-itemprice-container{
    /* padding-top: 200px; */
}

/* this works as well */
#person1-name{
    /* background-color: blue; */
}

/* center text for all inputs */
input{
    text-align: center;
}
