*,
*::before,
*::after {
  box-sizing: border-box;
}
/* don't need it right now */
/* .bold{
    font-weight: bold;
} */

.left-text-indent{
    text-indent: 25px;
}

/* name classes for what they are */

/* margin-right is not working*/
/* text-align: center is okay */
/* .right-text-indent{
    text-align: center;
} */

/* idk if i will need this yet */
/* .small-font {
    font-size: x-small;
} */

.top-border{
    border-top: 2px solid black;
}

h1{
    text-align: center;
    background-color: brown;
}

/* this works */
h2{
    text-align: center;
    background-color: red;
    margin: 0;
}

/* why is it not matching the other div container */
h3{
    text-align: center;
    margin: 0;
}

/* this is not working. I want the item to be at the center of the page. */
body{
    background-color: green;
    margin: 0;
}
/* This centers but not vertically */
main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: blue;
    /* Why is there still some blue with min-width */


    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    
}


#person1-container{
   /* margin: auto; */
}

.person-namecontainer{
    background-color: green;
    margin-bottom: 21px;
}

/* Maybe need last child */

/* this works */
#person1-container{
    background-color: purple;
    /* updating this fix the container gap */
    min-width: 340.0px;
    /* Don't need padding */
    /* padding: 21px; */
    /* this works */
    /* width: 50%; */
}

#person1-itemprice-container{
    /* padding-top: 200px; */
}

/* this works as well */
.person-name{
    /* background-color: blue; */
}


/* center text for all inputs */
input{
    text-align: center;
}

/* Do I need this to work */
.display-window{
    background-color: lightblue;
    text-align: center;
}


/* 40px text-indent looks good to me. Should I use a %? */
/* when I text-indent, box size does not change */
.receipt-calc-label{
    text-indent: 40px;
}

/* These are ids that I should only use for Javascript */
/* this works. background color changes on top */
#subtotal-display{

}

#tax-display{

}

#total-display{
    /* background-color: lightblue; */
}

/* Added a divider */
/* Maybe I can just make a class called border */
#subtotal-container{
    /* background-color: red; */
}

/* It looks like background color is showing under */
#tax-container{
    /* background-color: red; */
}

.total{
    /* background-color: blue; */
    /* font-size: large; */
    /* Look into text-indent */
    /* text-indent: ; */
}

/* line 152 - 164 works without indents */
.calc-by-person-container{
    /* inline-block does not work. only flex */
   display: flex;
}

.left-div{
    flex: 1;
}

.right-div{
    flex: 1;
}

/* Receipt Container stuff */
#receipt-container{
    background-color: green;
}